#myList {
  font-family: monospace;
  top: 0px;
  bottom: 50px;
  left: 10px;
  right: 10px;
  position: absolute;
  border: 5px solid black;
  overflow: auto;
  background-color: white;
}
#myForm {
  position: fixed;
  bottom: 25px;
}
#nameDiv {
  position: fixed;
  bottom: 25px;
  right: 25px;
}
#myName {
  display: inline;
}
body {
  background-color: lightblue;
}
